*{
    margin:0;
    padding: 0;
}

body{
    background-color: #15616D;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #922D50;
    background-color: #FFECD1;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #040403;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #040403;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: white;
    font-size: 5vmin;
    padding: 2rem;
    border: 2px solid #922D50;
}

.msg-container{
    height: 50vmin;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hide {
    display: none;
}